# App
NEXT_PUBLIC_APP_URL=http://localhost:3001

# NextAuth
NEXTAUTH_URL=http://localhost:3001
# Generate a new secret with: `openssl rand -base64 32`
NEXTAUTH_SECRET=your_random_secret_here

# Database (Using SQLite for local development)
# For SQLite
DATABASE_URL="file:./prisma/dev.db"

# For PostgreSQL (production)
# DATABASE_URL="postgresql://username:password@hostname:port/database?sslmode=require"

# PostgreSQL Individual Parameters (alternative to full connection string)
# DB_HOST=your_database_host
# DB_PORT=your_database_port
# DB_USER=your_database_user
# DB_PASSWORD=your_database_password
# DB_NAME=your_database_name
# DB_SSL=true

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key